*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
@font-face  {
    font-family: 'black';
    src: url('Black Way - Personal Use.otf');
}
@font-face  {
    font-family: 'love';
    src: url('Aloevera-OVoWO.ttf');
}
body,html{
    background:url("img/man-2933984_1920.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:100%;
    width:100%;
}
/*header*/
#bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    background:black;
}  
#bar nav a{
    color:white;  
    text-decoration:none; 
}
#bar  h1{
    color:white;
    font-family:black;
    font-size:35px;
    letter-spacing:2px;
    margin:0 20px;
    position:relative;
    z-index:2;    
}
#bar nav a{
    font-family:love;
    margin:0 25px;
    font-size:18px;
    transition:all ease 350ms;
    cursor: pointer;
}
#bar nav a:hover{
    color:#ff2b4a;;
}
#bar h1 span{
    color:#ff2b4a;
}
#bar nav span a{
   color: #ff2b4a;
}
.love button{  
    color:white; 
    font-size:50px;
    font-family:love;
    letter-spacing:0.5px;
    background:no-repeat;
    border-radius:15px;
    border:2px solid red;
    display:flex;
    align-items:center;
}
.love{
    position:absolute;
    left:50%;
    top:30%;
}
